
.jumbotron{
    display: inline-block;
    justify-content: center;
    position: relative;
    padding: 0;
    object-fit: fill;


}

h1{
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 45%;
    opacity: 80%;
    width: 100%;
    justify-content: center;

}

.btnPlace{
    display: flex;
    justify-content: flex-end;
}

.btn-group{
    display: flex;
    justify-content: flex-end;
}

