body, html {
    height: 100%;
    width: 50%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: solid lightgray 1px;
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
}

.message-info {
    background-color: deepskyblue;
    color:blue;
}

.message-success {
    background-color: lightgreen;
    color:green;
}

.message-warning {
    background-color: #ffef05;
    color:darkgoldenrod;
}

.message-error {
    background-color: palevioletred;
    color:darkred;
}