.fancy-header {
    text-align: center;
}

.secondary-fancy-header {
    color: crimson;
    text-decoration: underline;
}

.backgroundOne {
    background-color: #FF86;
}

.backGroundImage {
    background-image: url("https://images.pexels.com/photos/2090900/pexels-photo-2090900.jpeg?cs=srgb&dl=pexels-dominika-roseclay-2090900.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

ol { list-style: upper-alpha; }
ul { list-style: circle; }

.new-font {
    font-family: Arial, cursive;
}

td { font-size: 32px; }
tr { font-size: 48px; }

a:hover {
    color: darkred;
    font-size: 2em;
    transition: 500ms;

}

a:visited {
    color: green;
}