

#weather{
    align-content: center;
    width: 1200px;
    padding: 10px;
    margin: 10px;
display: flex;
}


#full {
   display: inline;
    padding: 10px;
    border: 1px solid Black;
    margin: 10px;
}

h3 {
    width: 97%;
    display:flex;
    background-color: #0d92f5;
    padding: 1em;
    color: #ffffff;
    margin: 0
}

#head {
    background-color: #e3e3e3;
}

form {
    display: flex;
    padding: 1em;
    width: 15%;

}